# Zync 0.7a sample configuration file 'zync.config'
#
# See 'Installing and configuring zyncd' for complete installation
# details.
# 
#
# The TRACE directive specifies where zyncd should log errors and
# debugging messages (if any.)  If a trace file is not specified, any
# error or debugging messages that are generated will be reported via
# the syslog() facility.
trace /usr/tmp/zyncd-trace
# 
# The DEBUG directive specifies which debugging and warning messages
# should be reported by zyncd.  Zyncd will always report serious
# errors, regardless of the value of this directive.  By default,
# zyncd will also generate warnings for situations which are not
# fatal, but probably rquire attention.  See 'Installing and
# configuring zyncd' for more information on possible values of this
# directive.
debug ERRORS WARNINGS
#
# The SCRIPTS directive tells zyncd where to find the shell scripts it
# needs to find the local UNIX Z-Mail's version, and to start Z-Mail
# for mail synchronization.
scripts /usr/local/etc/Zync/scripts
#
# The SPOOL directive tells zyncd where the mail spool directory is.
spool /usr/mail
#
# The PREFS directive tells zyncd where to store and retrieve users'
# preferences files for the remote preferences service.
prefs /usr/local/etc/Zync/prefs
#
# The LIBRARY directive tells zyncd the directory where the
# configuration files it will offer to clients as part of the
# configuration file downloading service reside.
library /usr/local/etc/Zync/download-lib
#
# The LIBRARY-STRUCTURE directive tells zyncd the organizational 
# hierarchy of the download library.  This would not normally need to
# be changed.
library-structure PRODUCT PLATFORM VERSION
#
# The TIMEOUT directive tells zyncd how many seconds to wait when
# expecting input before giving up and closing the connection to the 
# client.  A value of zero (0) means never time out.
timeout 60
